# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js build
.next/
out/
build/
dist/

# Python / Django
__pycache__/
*.py[cod]
*.class
*.sqlite3
.env
.env.local
.env.*.local
*.log

# IDE & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
